github "IBAnimatable/IBAnimatable"
github "SwiftKickMobile/SwiftMessages"
github "SwiftyJSON/SwiftyJSON"
github "nvzqz/FileKit" # file management
github "DaveWoodCom/XCGLogger"
github "phimage/CallbackURLKit"
github "phimage/Prephirences"
github "phimage/ValueTransformerKit"
github "Alamofire/Alamofire"
github "weichsel/ZIPFoundation"
github "moya/Moya"
github "onevcat/Kingfisher"
github "xmartlabs/Eureka"
github "4d/ios-QMobileDataStore" "HEAD"
github "4d/ios-QMobileAPI" "HEAD"
github "4d/ios-QMobileDataSync" "HEAD"
github "4d/ios-QMobileUI" "HEAD"
