github "IBAnimatable/IBAnimatable"
github "dennisweissmann/DeviceKit"
github "SwiftKickMobile/SwiftMessages"
github "SwiftyJSON/SwiftyJSON"
github "nvzqz/FileKit" # file management
github "DaveWoodCom/XCGLogger"
github "phimage/CallbackURLKit"
github "phimage/Prephirences"
github "phimage/ValueTransformerKit"
github "antitypical/Result"
github "ArtSabintsev/Guitar"
github "Alamofire/Alamofire"
github "Thomvis/BrightFutures"
github "weichsel/ZIPFoundation"
github "moya/Moya"
github "onevcat/Kingfisher"
github "xmartlabs/Eureka"